
.task-filter {
    height: inherit;
    display: flex;
    align-items: center;
}

.task-filter__item {
    padding: 20px 0 20px 0;
}

.task-filter__input {
    height: 0;
}

.task-filter__input:checked ~ .task-filter__text {
    border: 1px solid;
    border-radius: 3px;
}

.task-filter__text {
    border: 1px transparent solid;
    border-radius: 3px;
}

.task-clear-completed {
    border: none;
    background-color: white;
    color: #888888;
    font-size: 14px;
    font-family: 'Roboto', 'Arial', sans-serif;
}