.task-item__view {
    border-bottom: 1px #e6e6e6 solid;
    display: flex;
    align-items: center;
}

.task-item__view:hover {
    background-color: #fafafa;
}

.task-item__status {
    position: absolute;
    left: -99999px;
}

.task-item_status-label {
    min-width: 42px;
    min-height: 42px;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    border: 1px #e6e6e6 solid;
    border-radius: 50%;
    background-color: #ffffff;
}

.task-item__status:checked ~.task-item__text {
    color: #CCCCCC;
    text-decoration: line-through;
}

.task-item__status:checked + .task-item_status-label {
    background: url(../images/item-check-mark.svg) no-repeat;
    background-position: 8px 8px;
    border-color: #5DC2AF;
}

.task-item__status:focus + .task-item_status-label {
    border-color: #cccccc;
}

.task-item__view:hover .task-item__status:not(:checked) + .task-item_status-label {
    border-color: #cccccc;
}

.task-item__text {
    font-size: 24px;
    flex-grow: 1;
    word-break: break-word;
    padding-right: 36px;
}

.task-item__view:hover .task-item__text {
    padding-right: 0;
}

.task-item__delete {
    width: 40px;
    border: none;
    background-color: white;
    background: url(../images/cross.svg) no-repeat;
    text-indent: -9999px;
    position: absolute;
    left: -99999px;
    padding: 20px 0 20px 0;
    background-position: 0px 16px;
}

.task-item__delete:focus {
    position: inherit;
}

.task-item__view:hover .task-item__delete {
    position: inherit;
    padding: 20px 0 20px 0;
}