.todo-app {
    position: relative;
    width: 80%;
    max-width: 560px;
    min-width: 460px;
    margin: 0 auto 20px;
}

.todo-app:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 4px;
    right: 2px;
    height: 5px;
    z-index: -1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-app:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 6px;
    right: 4px;
    height: 10px;
    z-index: -2;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-app__frame {
    border: 1px #e6e6e6 solid;
    margin: auto;
    width: 560px;
    background: white;
}

.todo-app__main-controls{
    display: flex;
    border-bottom: 1px #e6e6e6 solid;
    align-items: center;
}

.todo-app__task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-app__task-item {
    min-height: 64px;
}

.todo-app__actions-bar {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    color: #888888;
    font-size: 14px;
}